[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
