# misc bib entry
snippet misc
	@misc{${1:_citation_tag},
	 title = {${2:Analysis of the Mean Length of Journal Titles}}, 
	 author = {${3:Last, First M.}}, 
	 year = {${4:2015}}, 
	 month = {${5:October}}, 
	 howpublished = "\url{${6:https://github.com/matt-welch/daffy-dotfiles}}",
	 note = "[Online; accessed ${7:12-October-2015}]", 
	}${8}

